@page
@model HwAspNetCoreBlazor.Pages.IndexModel

@{ 
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>This is a sample message that should show on index.</p>
</div>